.card {
  display: inline-grid;
  flex: 0 1 30%;
  width: 8rem;
  height: 17rem;
  margin: 1rem;
  padding: 10px;
  text-align: center;
  background-color: bisque;
  box-shadow: 0 4px 8px rgb(0,0,0);
}

/* .table-body {
  text-align: center;
} */

table.senator-table {
  justify-content: center;
  align-items: center;
  left: 5%; 
  border-color: rgb(21, 6, 226); 
  border-style: solid; 
  border-width: 2px; 
  margin-left: 10px;
  position: relative;
  padding: 10px; 
  border-collapse: separate;
  border-spacing: 5px; 
  font-size: 12pt; 
}

/* tr.table-row tr {
  height: 50px;
  border-style: solid; 
  padding-left: 10px; 
  padding-right: 10px; 
  border:rgb(139, 40, 40); 
  background: rgb(5, 68, 120);
  color:rgb(254, 251, 251);
} */

